@font-face {
  font-family: "Muli";
  src: url("/fonts/Muli-Regular.ttf");
}
@font-face {
  font-family: "Inria Sans";
  src: url("/fonts/InriaSans-Regular.ttf");
}
* {
  margin: 0rem;
  padding: 0rem;
  font-family: "Muli";
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background-color: #04110D;
  overflow-x: hidden;
}

.container {
  width: 100%;
  min-height: 100vh;
  border: solid 1px red;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5 {
  color: #ffffff;
}

@font-face {
  font-family: "Muli";
  src: url("/fonts/Muli-Regular.ttf");
}
@font-face {
  font-family: "Inria Sans";
  src: url("/fonts/InriaSans-Regular.ttf");
}
#about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#about .notebook {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#about .notebook img {
  width: 300px;
  height: 300px;
  filter: invert(1);
}
#about .data {
  display: flex;
  flex-flow: column nowrap;
}
#about .data h3 {
  color: #29B88D;
  font-size: 24px;
}
#about .data h2 {
  margin: 20px 0px;
  font-size: 36px;
}
#about .data hr {
  width: 50px;
  height: 3px;
  border: none;
  background-color: #29B88D;
}
#about .data .row {
  margin-top: 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#about .data .row img {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}
#about .data .row div {
  height: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-left: 30px;
}
#about .data .row div h4 {
  font-size: 18px;
}
#about .data .row div p {
  color: #777777;
}

@font-face {
  font-family: "Muli";
  src: url("/fonts/Muli-Regular.ttf");
}
@font-face {
  font-family: "Inria Sans";
  src: url("/fonts/InriaSans-Regular.ttf");
}
#contact {
  background-color: #222222;
  min-height: 80vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
#contact .background {
  position: absolute;
  height: 80vh;
  width: 35vw;
  background-color: rgb(50, 50, 50);
  left: 0;
  z-index: 0;
}
#contact .title {
  z-index: 1;
}
#contact .title h2 {
  font-size: 42px;
}
#contact .title span {
  color: #29B88D;
}
#contact .title p {
  color: #777777;
  margin-top: 60px;
  font-weight: 600;
}
#contact .form {
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
#contact .form label {
  font-size: 16px;
  color: #ffffff;
  margin-top: 15px;
}
#contact .form label span {
  color: #29B88D;
}
#contact .form input {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #29B88D;
  height: 35px;
  margin-top: 15px;
}
#contact .form .button {
  background-color: #29B88D;
  color: #ffffff;
  font-weight: 600;
}
#contact .form div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#contact .form div span {
  margin-top: 15px;
  margin-left: 10px;
  color: #777777;
  font-size: 12px;
}

@font-face {
  font-family: "Muli";
  src: url("/fonts/Muli-Regular.ttf");
}
@font-face {
  font-family: "Inria Sans";
  src: url("/fonts/InriaSans-Regular.ttf");
}
@font-face {
  font-family: "Muli";
  src: url("/fonts/Muli-Regular.ttf");
}
@font-face {
  font-family: "Inria Sans";
  src: url("/fonts/InriaSans-Regular.ttf");
}
#features {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#features h2 {
  font-size: 36px;
  margin-top: 100px;
}
#features span {
  color: #29B88D;
}
#features .grid {
  width: 100%;
  padding: 100px;
  display: grid;
  grid-template-columns: repeat(2, 350px);
  gap: 75px;
  justify-content: center;
  align-items: center;
}
#features .grid .card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#features .grid .card img {
  width: 50px;
  height: 50px;
  background-color: #29B88D;
  padding: 10px;
  border-radius: 50%;
}
#features .grid .card div {
  margin: 20px 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#features .grid .card div h5 {
  font-size: 18px;
  min-width: fit-content;
  margin: 0px 20px;
}
#features .grid .card div hr {
  height: 3px;
  width: 50px;
  background-color: #29B88D;
  border: none;
}
#features .grid .card p {
  color: #777777;
  text-align: center;
}

@font-face {
  font-family: "Muli";
  src: url("/fonts/Muli-Regular.ttf");
}
@font-face {
  font-family: "Inria Sans";
  src: url("/fonts/InriaSans-Regular.ttf");
}
#footer {
  min-height: 300px;
  display: flex;
  color: #ffffff;
  justify-content: space-around;
  font-size: 1.4rem;
}
#footer .footer-contact {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  gap: 20px;
}
#footer .red-icon {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
#footer .red-icon img {
  width: 50px;
  filter: invert(50%) sepia(8%) saturate(0%) hue-rotate(265deg) brightness(99%) contrast(91%);
}
#footer .red-icon img:hover {
  filter: invert(54%) sepia(66%) saturate(418%) hue-rotate(111deg) brightness(96%) contrast(98%);
}
#footer .red-icon .imgfilter {
  width: 40px;
}

@font-face {
  font-family: "Muli";
  src: url("/fonts/Muli-Regular.ttf");
}
@font-face {
  font-family: "Inria Sans";
  src: url("/fonts/InriaSans-Regular.ttf");
}
#navbar {
  min-height: 100px;
  width: 100%;
  position: fixed;
  z-index: 5;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: #04110D;
}
#navbar .iconName {
  margin: 0 550px 0 100px;
}
#navbar .iconName a {
  font-family: "Muli";
  font-size: 51px;
  font-weight: bold;
  color: #ffffff;
}
#navbar .nav ul {
  display: flex;
}
#navbar .nav ul li {
  margin-right: 30px;
}
#navbar .nav ul li:last-child {
  border: 2px solid #1A755A;
  border-radius: 8px;
  padding: 7px 20px;
  margin: -7px 0px;
}
#navbar .nav ul li:last-child:hover {
  background-color: #1A755A;
}
#navbar .nav ul li a {
  color: #ffffff;
  font-family: "Muli";
  font-size: 24px;
  font-weight: 200;
}

@font-face {
  font-family: "Muli";
  src: url("/fonts/Muli-Regular.ttf");
}
@font-face {
  font-family: "Inria Sans";
  src: url("/fonts/InriaSans-Regular.ttf");
}
#process {
  height: 850px;
  color: #fff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#process img {
  width: 120px;
}
#process .text-process {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#process .text-process .titleProcess {
  font-family: "Muli";
  font-size: 2rem;
  font-weight: bold;
}
#process .text-process .day {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
  color: rgba(204, 204, 204, 0.856);
}
#process .text-process .day .circle {
  height: 10px;
  width: 10px;
  background: #29B88D;
  border-radius: 50%;
  margin: 5px 10px 0 0;
}
#process .process--svg {
  width: 100%;
}
#process .process--svg .process-1 {
  position: relative;
  right: 400px;
  top: 120px;
  text-align: center;
  width: auto;
}
#process .process--svg .process-1 span {
  position: relative;
  bottom: 20px;
  right: 50px;
  background-color: #ffffff;
  color: #29B88D;
  padding: 0px 8px;
  font-family: "Muli";
  font-size: 1.7rem;
  font-weight: bold;
  border-radius: 50%;
  width: auto;
}
#process .process--svg .process__1 {
  position: relative;
  left: 495px;
  width: auto;
}
#process .process--svg .process__1 img {
  width: 170px;
}
#process .process--svg .process-2 {
  position: relative;
  bottom: 128px;
  text-align: center;
  width: auto;
}
#process .process--svg .process-2 span {
  position: relative;
  bottom: 20px;
  right: 50px;
  background-color: #ffffff;
  color: #29B88D;
  padding: 0px 8px;
  font-family: "Muli";
  font-size: 1.7rem;
  font-weight: bold;
  border-radius: 50%;
}
#process .process--svg .process__2 {
  position: relative;
  left: 934px;
  bottom: 240px;
  transform: rotateX(180deg);
  width: auto;
}
#process .process--svg .process__2 img {
  width: 170px;
}
#process .process--svg .process-3 {
  position: relative;
  bottom: 370px;
  left: 420px;
  text-align: center;
  width: auto;
}
#process .process--svg .process-3 span {
  position: relative;
  bottom: 20px;
  left: 160px;
  background-color: #ffffff;
  color: #29B88D;
  padding: 0px 8px;
  font-family: "Muli";
  font-size: 1.7rem;
  font-weight: bold;
  border-radius: 50%;
}
#process .process--svg .process-3 img {
  position: relative;
  right: 20px;
}
#process .process--svg .process__3 {
  position: relative;
  left: 1150px;
  bottom: 350px;
  width: auto;
}
#process .process--svg .process__3 img {
  width: 70px;
}
#process .process--svg .process-4 {
  position: relative;
  bottom: 430px;
  left: 210px;
  text-align: center;
  width: auto;
}
#process .process--svg .process-4 span {
  position: relative;
  bottom: 20px;
  right: 50px;
  background-color: #ffffff;
  color: #29B88D;
  padding: 0px 8px;
  font-family: "Muli";
  font-size: 1.7rem;
  font-weight: bold;
  border-radius: 50%;
}
#process .process--svg .process__4 {
  position: relative;
  left: 695px;
  bottom: 550px;
  width: auto;
}
#process .process--svg .process__4 img {
  width: 170px;
}
#process .process--svg .process-5 {
  position: relative;
  bottom: 665px;
  right: 230px;
  text-align: center;
  width: auto;
}
#process .process--svg .process-5 span {
  position: relative;
  bottom: 20px;
  right: 50px;
  background-color: #ffffff;
  color: #29B88D;
  padding: 0px 8px;
  font-family: "Muli";
  font-size: 1.7rem;
  font-weight: bold;
  border-radius: 50%;
}

@font-face {
  font-family: "Muli";
  src: url("/fonts/Muli-Regular.ttf");
}
@font-face {
  font-family: "Inria Sans";
  src: url("/fonts/InriaSans-Regular.ttf");
}

/*# sourceMappingURL=styles.css.map */
