@import "../variables.scss";

#about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .notebook {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        img {
            width: 300px;
            height: 300px;
            filter:invert(1);
        }
    }
    .data {
        display: flex;
        flex-flow: column nowrap;
        margin-right: 40px;
        h3 {
            color: $primary;
            font-size: 24px;
        }
        h2 {
            margin: 20px 0px;
            font-size: 36px;
        }
        hr {
            width: 50px;
            height: 3px;
            border: none;
            background-color: $primary;
        }
        .row {
            margin-top: 40px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            img, svg {
                width: 50px;
                height: 50px;
                background-color: $light;
                padding: 10px;
                border-radius: $curve;
                color: $primary;
                fill: $primary;
            }
            
            div {
                height: 50px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                margin-left: 30px;
                h4 {
                    font-size: 18px;
                }
                p {
                    color: $placeholder;
                }
            }
        }
        
    }
}