@import "../variables.scss";

#navbar {
    top: 0;
    margin-top: 0;
    min-height: 100px;
    position: fixed;
    z-index: 5;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: $dark; 
    
    .menu {
        fill: $light;
        width: 30px;
        margin-right: 100px;
        cursor: pointer;
        display: none;
    }
    .iconName {
        margin-left: 100px;
        a {
            font-family: $muli;
            font-size: 36px;
            font-weight: bold;
            color: $light;
        }
    }
    .iconName a:hover {
        color: $primary;
    }

    .nav {

        ul {
            display: flex;
            align-items: center;

            li {
                margin-right: 50px;

                &:last-child {
                    border: 2px solid $secondary;
                    border-radius: $curve;
                    margin-right: 100px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    
                    cursor: pointer;
                    a {
                        padding: 7px 20px;
                    }
                    a:hover {
                        
                        color: $light;
                    }
                    &:hover {
                        background-color: $secondary;
                    }
                }

                a {
                    color: $light;
                    font-family: $muli;
                    font-size: 18px;
                    font-weight: 200;
                    &:hover {
                        color: $primary;
                    }
                }
                

            }
        }
    }
}