@import "../variables.scss";

#navbar {
    min-height: 100px;
    position: fixed;
    z-index: 5;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: $dark; 
    

    .iconName {
        margin: 0 550px 0 100px;
        a {
            font-family: $muli;
            font-size: 51px;
            font-weight: bold;
            color: $light;
        }
    }

    .nav {

        ul {
            display: flex;

            li {
                margin-right: 30px;

                &:last-child {
                    border: 2px solid $secondary;
                    border-radius: 8px;
                    padding: 7px 20px;
                    margin: -7px 0px;

                    &:hover {
                        background-color: $secondary;
                    }
                }

                a {
                    color: $light;
                    font-family: $muli;
                    font-size: 24px;
                    font-weight: 200;

                }

            }
        }
    }
}