@import "../variables.scss";




#process {
    height: 850px;
    color: #fff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    img {
        width: 120px;
    }

    .text-process {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .titleProcess {
            font-family: $muli;
            font-size: 2rem;
            font-weight: bold;
        }

        .day {
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin-top: 20px;
            color: rgba(204, 204, 204, 0.856);

            .circle {
                height: 10px;
                width: 10px;
                background: $primary;
                border-radius: 50%;
                margin: 5px 10px 0 0;
            }
        }

    }
    .process--svg{
        width: 100%;
        .process-1{
            position: relative;
            right: 500px;
            top: 80px;
            text-align: center;
            span{
                position: relative;
                bottom: 20px;
                right: 50px;
                background-color: $light;
                color: $primary;
                padding: 0px 8px;
                font-family: $muli;
                font-size: 1.7rem;
                font-weight: bold;
                border-radius: 50%;
            }
        }
        .process-2{
            position: relative;
            bottom: 128px;
            text-align: center;
            span{
                position: relative;
                bottom: 20px;
                right: 50px;
                background-color: $light;
                color: $primary;
                padding: 0px 8px;
                font-family: $muli;
                font-size: 1.7rem;
                font-weight: bold;
                border-radius: 50%;
            }
        }
        .process-3{
            position: relative;
            bottom: 336px;
            left: 500px;
            text-align: center;
            span{
                position: relative;
                bottom: 20px;
                right: 50px;
                background-color: $light;
                color: $primary;
                padding: 0px 8px;
                font-family: $muli;
                font-size: 1.7rem;
                font-weight: bold;
                border-radius: 50%;
            }
        }
        .process-4{
            position: relative;
            bottom: 150px;
            left: 250px;
            text-align: center;
            span{
                position: relative;
                bottom: 20px;
                right: 50px;
                background-color: $light;
                color: $primary;
                padding: 0px 8px;
                font-family: $muli;
                font-size: 1.7rem;
                font-weight: bold;
                border-radius: 50%;
            }
        }
        .process-5{
            position: relative;
            bottom: 330px;
            right: 250px;
            text-align: center;
            span{
                position: relative;
                bottom: 20px;
                right: 50px;
                background-color: $light;
                color: $primary;
                padding: 0px 8px;
                font-family: $muli;
                font-size: 1.7rem;
                font-weight: bold;
                border-radius: 50%;
            }
        }
    }
}