// VARIABLES

@import "variables";

// ESTILOS GLOBALES

* {
  margin: 0rem;
  padding: 0rem;
  font-family: $muli;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background-color: $dark;
  overflow-x: hidden;
  min-height: 100vh;
}

// IMPORTACIONES PARCIALES 

@import "./scss/navbar.scss";
@import "./scss/cover-page.scss";

// RESPONSIVIDAD

@import "responsive";