// COLORES

$primary: #6a00ff;
$secondary: #27005e;
$light: #ffffff;
$dark: #171717;
$placeholder: #777777;
$shadow: #000000;

//  BORDES

$curve: 10px;

// DESENFOQUE

$blur: 10px;

// TIPOGRAFÍAS

$font: 'Akshar', sans-serif;

// ANCHO PÁGINA

$width: 80vw;