// COLORES

$primary: #29B88D;
$secondary: #1A755A;
$light: #ffffff;
$dark: #04110D;
$placeholder: #777777;
$shadow: #000000;

//  BORDES

$curve: 10px;

// DESENFOQUE

$blur: 10px;

// TIPOGRAFÍAS

$muli: 'Muli';

@font-face {
    font-family: 'Muli';
    src: url('/fonts/Muli-Regular.ttf');
}

$inria: 'Inria Sans';

@font-face {
    font-family: 'Inria Sans';
    src: url('/fonts/InriaSans-Regular.ttf');
}

// ANCHO PÁGINA

$width: 80vw;